In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
import pickle

In [6]:
df = pd.read_csv('Churn_Modelling.csv')

In [7]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [9]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
leg = LabelEncoder()
# df['Geography'] = leg.fit_transform(df['Geography'])
df['Gender'] = leg.fit_transform(df['Gender'])

In [11]:
df.head(3)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1

In [12]:
# One hot encoding
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
data_geo =ohe.fit_transform(df[['Geography']])

In [13]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [14]:
cols = ohe.get_feature_names_out()

In [15]:
pd.DataFrame(data_geo.toarray(),columns=cols).head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [16]:
data = pd.concat([df.drop(['Geography'],axis=1),pd.DataFrame(data_geo.toarray(),columns=cols)],axis=1)

In [17]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [18]:
# Saving in pickle files

with open('leg_data_gender.pkl', 'wb') as f:
    pickle.dump(leg, f)

with open('ohe_data_geo.pkl','wb') as file:
    pickle.dump(ohe,file)

In [19]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [49]:
data.columns.to_list()

['CreditScore',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited',
 'Geography_France',
 'Geography_Germany',
 'Geography_Spain']

In [20]:
x = data.drop(['Exited'],axis=1)
y = data['Exited']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

scalar = StandardScaler()
x_train = scalar.fit_transform(x_train)
x_test = scalar.transform(x_test)

In [21]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [22]:
x_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [23]:
with open('standard_scalar.pkl', 'wb') as f:
    pickle.dump(scalar, f)

In [24]:
print("Jai Shree Ram")

Jai Shree Ram

## ANN Implementation

In [25]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
from datetime import datetime

In [26]:
import sys
sys.executable

'/Users/madhav.khurana@grofers.com/Documents/DS2025/DL_Project1/venv/bin/python'

In [27]:
import tensorflow as tf
print(tf.__version__)

2.15.0

In [31]:
x_train.shape

(8000, 12)

In [33]:
model = Sequential(
   [ Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')]
)

In [34]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
opt =  tf.keras.optimizers.Adam(learning_rate=0.001 )

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [37]:
model.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy'])

In [38]:
# Set up the Tensorboard

In [40]:
log_dir = "logs/fit/" + datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [42]:
# Setting up EarlyStopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [43]:
# Training the model
history = model.fit(x_train, y_train, validation_data=(x_test, y_test), epochs = 50, callbacks=[tensorboard_callback, early_stopping_callback] )

Epoch 1/50
250/250 [==============================] - 0s 744us/step - loss: 0.4449 - accuracy: 0.8108 - val_loss: 0.4041 - val_accuracy: 0.8290
Epoch 2/50
250/250 [==============================] - 0s 471us/step - loss: 0.3874 - accuracy: 0.8395 - val_loss: 0.3695 - val_accuracy: 0.8410
Epoch 3/50
250/250 [==============================] - 0s 478us/step - loss: 0.3582 - accuracy: 0.8529 - val_loss: 0.3548 - val_accuracy: 0.8545
Epoch 4/50
250/250 [==============================] - 0s 594us/step - loss: 0.3464 - accuracy: 0.8609 - val_loss: 0.3568 - val_accuracy: 0.8545
Epoch 5/50
250/250 [==============================] - 0s 451us/step - loss: 0.3401 - accuracy: 0.8586 - val_loss: 0.3487 - val_accuracy: 0.8605
Epoch 6/50
250/250 [==============================] - 0s 451us/step - loss: 0.3365 - accuracy: 0.8631 - val_loss: 0.3434 - val_accuracy: 0.8590
Epoch 7/50
250/250 [==============================] - 0s 449us/step - loss: 0.3318 - accuracy: 0.8612 - val_loss: 0.3455 - val_accuracy: 0.8595
Epoch 8/50
250/250 [==============================] - 0s 445us/step - loss: 0.3288 - accuracy: 0.8621 - val_loss: 0.3462 - val_accuracy: 0.8570
Epoch 9/50
250/250 [==============================] - 0s 450us/step - loss: 0.3266 - accuracy: 0.8666 - val_loss: 0.3463 - val_accuracy: 0.8565
Epoch 10/50
250/250 [==============================] - 0s 461us/step - loss: 0.3242 - accuracy: 0.8659 - val_loss: 0.3470 - val_accuracy: 0.8580
Epoch 11/50
250/250 [==============================] - 0s 458us/step - loss: 0.3217 - accuracy: 0.8655 - val_loss: 0.3514 - val_accuracy: 0.8560

In [44]:
model.save("model.h5")

/Users/madhav.khurana@grofers.com/Documents/DS2025/DL_Project1/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [48]:
# Load Tensorboard Extension
%load_ext tensorboard
%tensorboard --logdir logs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 60921), started 0:03:13 ago. (Use '!kill 60921' to kill it.)

In [47]:
%reload_ext tensorboard